<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Tracable" value="true" />
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint name="Com.Fadong.ZClient" 
                address="net.tcp://localhost:50000/ClientService" 
                binding="netTcpBinding" 
                bindingConfiguration="netTcpBindingFadong"
                contract="Com.Fadong.CommonInterface.IClientService" 
                behaviorConfiguration="netTcpDwsBehavior" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="netTcpDwsBehavior"></behavior>
 
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name ="netTcpBindingFadong"
                 receiveTimeout="Infinite"
                 sendTimeout="24:00:00"
                 openTimeout="00:00:10"
                 closeTimeout="00:00:10"
                 maxReceivedMessageSize="2147483647"
                 maxBufferSize="2147483647"
                 maxConnections="2000"
                 transactionFlow="false"
                 listenBacklog="2147483647"
                 maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="128"
                        maxArrayLength="200000000"
                        maxStringContentLength="2147483647"/>
          <security mode="None" />
          <reliableSession enabled="false" ordered="true" inactivityTimeout="infinite" />
        </binding>
      </netTcpBinding>
    </bindings>
    <extensions>
      <behaviorExtensions>
        <!--<add name="NetDataContractSerializerBehavior" type="Com.Fadong.CommonInterface.NetDataContractSerializerElement, Com.Fadong.CommonInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />-->
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
<!--<connectionStrings><add name="ZClientEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=C:\Users\jaekyoon\Source\Repos\Solar\MCached\ZClient.sdf;password=in1000;persist security info=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.33.9" newVersion="3.1.33.9" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<connectionStrings><add name="ZClientEntitiesA" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\ZClient.sdf;password=in1000;persist security info=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>