<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Tracable" value="true" />
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint name="Com.Fadong.ZClient" address="net.tcp://localhost:50000/ClientService" binding="netTcpBinding" contract="Com.Fadong.CommonInterface.IClientService" behaviorConfiguration="netTcpDwsBehavior" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="netTcpDwsBehavior"></behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="NetDataContractSerializerBehavior" type="Com.Fadong.CommonInterface.NetDataContractSerializerElement, Com.Fadong.CommonInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
<connectionStrings><add name="ZClientEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=C:\Users\daewoo\Source\Repos\Solar\MCached\ZClient.sdf;password=in1000;persist security info=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>