<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name ="Com.Fadong.ZClient"
                address = "net.tcp://localhost:50000/ClientService"
                binding = "netTcpBinding"
                contract ="Com.Fadong.CommonInterface.IClientService"
                behaviorConfiguration="netTcpDwsBehavior"/>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="netTcpDwsBehavior">
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="NetDataContractSerializerBehavior"
             type="Com.Fadong.CommonInterface.NetDataContractSerializerElement, Com.Fadong.CommonInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>