<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="MCtx" connectionString="metadata=res://*/MCacheTargetDB.csdl|res://*/MCacheTargetDB.ssdl|res://*/MCacheTargetDB.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string='data source=localhost:1521/orcl;password=lee0011;persist security info=True;user id=SELFDBA'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="Solar.ClientService" behaviorConfiguration="SolarBehavior">
        <endpoint binding="customBinding" contract="CommonInterface.IClientService" bindingConfiguration="SoloarAuthBindingTcp" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:50000/ClientService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SolarBehavior">
          <serviceMetadata httpGetEnabled="True" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials useIdentityConfiguration="true">
            <!--<serviceCertificate findValue="localhost" x509FindType="FindByIssuerName" storeLocation="LocalMachine" storeName="Root"/>-->
            <serviceCertificate findValue="jaekyoon" x509FindType="FindByIssuerName" storeLocation="LocalMachine" storeName="Root"/>
            <clientCertificate>
              <authentication certificateValidationMode="ChainTrust"/>
            </clientCertificate>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="NetDataSerializerBehavior" type="CommonInterface.NetDataContractSerializerElement, CommonInterface, Version=1.0.0.0 Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <bindings>
      <customBinding>
        <binding name="SoloarAuthBindingTcp" receiveTimeout="10675199.02:48:05.4775807" sendTimeout="10675199.02:48:05.4775807">
          <transactionFlow transactionProtocol="OleTransactions" />
          <binaryMessageEncoding compressionFormat="Deflate">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </binaryMessageEncoding>
          <reliableSession inactivityTimeout="00:15:00"/>
          <security authenticationMode="SecureConversation" requireSecurityContextCancellation="true">
            <secureConversationBootstrap
              authenticationMode="UserNameOverTransport">
            </secureConversationBootstrap>
          </security>
          <sslStreamSecurity requireClientCertificate="false" />
          <tcpTransport maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" />
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>
</configuration>